body {
    background-image: url("../img/fondo.png");
    background-color: black;
}

.cuerpo {
    background-color: white;
    margin: auto;
    width: 80%;
    padding-top: 2rem;
}

.titulo {
    background-color: orange;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 3rem;
}

td {
    font-size: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 2rem;
    border: 1px solid black;
    background-color: grey;
}

th {
    background-color: #aad7ea;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
    font-weight: lighter;
}

.tabla {
    text-align: center;
    margin: auto;
    border-collapse: separate;
    border-spacing: 30px;
}

tr {
    text-align: center;
}

.entrada {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    background-color: cyan;
    width: 50%;
}

.cuadrado {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid black;
    font-size: 100%;
    padding: auto;
    text-align: center;
    text-transform: uppercase;
}

.boton {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    bottom: 10px;
}

#comprobar {
    font-size: 1.5rem;
}

.fila {
    display: none;
}
